streamlit~=1.54.0
langchain>=0.3.0
langchain-core>=0.3.0
langchain-community~=0.4.1
langchain-text-splitters~=1.1.0
langchain-openai>=0.2.0
langchain-huggingface>=0.1.2
faiss-cpu>=1.7.0
networkx~=3.6.1
sqlalchemy~=2.0.46
numpy~=1.26.4
matplotlib~=3.10.8
langgraph~=1.0.8